<!--
<template name="accommodationsList">
    <ul>
    {{#each accommodation }}
        <li class='adresse {{selectedAdresse}}'>{{ address }} {{additionalAddress}}, {{zipCode}} {{location}} {{loc_number}}</li>
    {{/each}}
    </ul>
</template>
-->

<!--Super template-->

<template name="accommodationTemplate">
    {{#if currentUser}}
    <!-- check if there is a host room for the current user-->
    {{#if isAccommodation}}
        {{> updateAccommodation}}
    {{else}}
        {{> addAccommodation}}
    {{/if}}
    {{/if}}
</template>

<template name="addAccommodation">

    <!-- add accommotations templates -->

    <h1>Proposition de logements</h1>
    <form class="addAccommodation">  
    {{clearSession}}  
    {{#if Template.subscriptionsReady}}

    <!-- look for host profil address -->

        {{#if actualLocation}}
            {{> actualAddress}}
        {{else}}
            {{> addressForm}}
        {{/if}}
    {{/if}}

    <!-- Fire simpleCal template -->
    {{> calendar_template}}
    </form>
</template>

<template name="addressForm">
    <!-- add/update address form : available for addAccommodation template and updateAccomodation -->
        {{#if Template.subscriptionsReady}}
        {{#if isLocation}}
        <div class="col-md-8 px-0">
            <h3 class="form-text">Adresse d'accueil actuelle</h3>
            <div class="form-row">
                <div class="form-group col-sm-8">
                    <label for="address">Adresse</label>
                    <input type="text" class="form-control" name="address" id="address" value="{{availableLocation.[0]}}" required>
                </div>
                <div class="form-group col-sm-4">
                    <label for="num">N°</label>
                    <input type="text" class="form-control" name="locationNumber" id="locationNumber" value="{{availableLocation.[1]}}" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-4">
                    <label for="zipCode">NPA</label>
                    <input type="text" class="form-control" name="zipCode" id="zipCode" value="{{availableLocation.[3]}}" required>
                </div>
                <div class="form-group col-sm-8">
                    <label for="location">Localité</label>
                    <input type="text" class="form-control" name="location" id="location" value="{{availableLocation.[2]}}" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-6">
                    <label for="availablePlaces">Nombre de personnes</label>
                    <input type="number" name="availablePlaces" id="availablePlaces" value="{{availableLocation.[4]}}" required >
                </div>
            </div>
        </div>
        {{else}}
        <div class="col-md-8 px-0">
            <h3 class="form-text">Ajouter une adresse</h3>
            <div class="form-row">
                <div class="form-group col-sm-8">
                    <label for="address">Adresse</label>
                    <input type="text" class="form-control" name="address" id="address" placeholder="Adresse" required>
                </div>
                <div class="form-group col-sm-4">
                    <label for="num">N°</label>
                    <input type="text" class="form-control" name="locationNumber" id="locationNumber" placeholder="Numéro" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-4">
                    <label for="zipCode">NPA</label>
                    <input type="text" class="form-control" name="zipCode" id="zipCode" placeholder="NPA" required>
                </div>
                <div class="form-group col-sm-8">
                    <label for="location">Localité</label>
                    <input type="text" class="form-control" name="location" id="location" placeholder="Localité" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-6">
                    <label for="availablePlaces">Nombre de personnes</label>
                    <input type="number" name="availablePlaces" id="availablePlaces" placeholder="Nombre de personnes" required >
                </div>
            </div>
        </div>

        {{/if}}
        {{/if}}
    <button type="submit" class="btn btn-dark">Ajouter adresse</button>

</template>

<template name="actualAddress">

    <!-- check if host profil has an address if true suggest add the same address -->
    <!-- actualAdress template reloads the actual adress of the host from hes profil information -->
    {{#if sessionReady}}
        {{#if linkValue}}
        <div class="col-md-8 px-0">
            <h3 class="form-text">Adresse d'accueil actuelle</h3>
            <div class="form-row">
                <div class="form-group col-sm-8">
                    <label for="address">Adresse</label>
                    <input type="text" class="form-control" name="address" id="address" value="{{actualAddressValue.[0]}}" required>
                </div>
                <div class="form-group col-sm-4">
                    <label for="num">N°</label>
                    <input type="text" class="form-control" name="locationNumber" id="locationNumber" value="{{actualAddressValue.[1]}}" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-4">
                    <label for="zipCode">NPA</label>
                    <input type="text" class="form-control" name="zipCode" id="zipCode" value="{{actualAddressValue.[3]}}" required>
                </div>
                <div class="form-group col-sm-8">
                    <label for="location">Localité</label>
                    <input type="text" class="form-control" name="location" id="location" value="{{actualAddressValue.[2]}}" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-6">
                    <label for="availablePlaces">Nombre de personnes</label>
                    <input type="number" name="availablePlaces" id="availablePlaces" placeholder="à remplir" required >
                </div>
            </div>
        </div>
            <button type="submit" class="btn btn-dark">Ajouter adresse</button>
        {{else}}
            {{> addressForm}}
        {{/if}}

    {{else}}
        <h3>Adresse d'accueil</h3>
        <p><a href="" class="actualAddresslink1">Je souhaite mettre à disposition mon adresse actuelle.</a></p>
        <p><a href="" class="actualAddresslink2">Je souhaite ajouter une autre adresse.</a></p>
    {{/if}}
</template>

<template name="updateAccommodation">
        {{#if Template.subscriptionsReady}}

        <!-- Update accommodation template -->

        <h2>Proposition de logements</h2>
        <form class="updateAccommodation">
            {{> addressForm}}        
            {{> calendar_template}}
        </form>

        {{/if}}
</template>