<!--SimpleCalendar created and added by RD-->

<template name="calendar_template">
    {{#if Template.subscriptionsReady}}
    <h3 class="mt-5">Ajouter/supprimer des nuitées</h3>
    <div class="form-row my-2">
        <form id="yearForm" class="col-sm-6 col-md-4">
            <select size="1" class="form-control">
                {{#each yearOptions}}
                    <option>{{this}}</option>
                {{/each}}
            </select>
        </form>
    </div>
    <div class="form-row mb-5">   
        <form id="monthForm" class="col-sm-6 col-md-4">
            <select size="1" class="form-control">
                {{#each monthOptions}}
                    {{#if isActualMonth this}}
                    <option selected id="ms">{{this}}</option>
                    {{else}}
                    <option>{{this}}</option>
                    {{/if}}
                {{/each}}                
            </select>
        </form>
    </div>
    <div class="dayGrill">
        {{#each daysAcr}}
            <span>{{this}}</span>
        {{/each}}
    </div>
    <div class="calendarGrill">
        {{#each calendArray}}
        {{#if toSix @index}}
            {{#if getActualDate this}}
                <span class="actualDay" name="actday">{{this}}</span><br>
            {{else}}
                <span class="{{setClass @index this}}" name="actday">{{this}}</span><br>
            {{/if}}
        {{else}}
            {{#if getActualDate this}}
                <span class="{{setClass @index this}}" name="actday">{{this}}</span>
            {{else}}
                <span class="{{setClass @index this}}" name="actday">{{this}}</span>
            {{/if}}
        {{/if}}    
        {{/each}}
    </div>
    {{/if}}
    {{>validateCal}}
</template>

<template name="validateCal">
    <button id="validateCal" class="btn btn-dark mt-3">Enregistrer les dates</button>
    <p class="text-muted">Pour désélectionner une date, cliquer à nouveau sur la case colorée.</p>
</template>
