<!--SimpleCalendar created and added by RD-->

<template name="calendar_template">
    {{#if Template.subscriptionsReady}}
    <legend> Ajouter/supprimer des nuitées : </legend>
    <div>
        <form id="yearForm">
            <select size="1">
                {{#each yearOptions}}
                    <option>{{this}}</option>
                {{/each}}
            </select>
        </form>
    </div>
    <div>
        <form id="monthForm" >
            <select size="1">
                {{#each monthOptions}}
                    {{#if isActualMonth this}}
                    <option selected id="ms">{{this}}</option>
                    {{else}}
                    <option>{{this}}</option>
                    {{/if}}
                {{/each}}                
            </select>
        </form>
    </div>
    <div class="dayGrill">
        {{#each daysAcr}}
            <span>{{this}}</span>
        {{/each}}
    </div>
    <div class="calendarGrill">
        {{#each calendArray}}
        {{#if toSix @index}}
            {{#if getActualDate this}}
            <span class="actualDay" name="actday">{{this}}</span><br>
            {{else}}
            <span class="{{setClass @index this}}" name="actday">{{this}}</span><br>
            {{/if}}
        {{else}}
            {{#if getActualDate this}}
                    <span class="actualDay" name="actday">{{this}}</span>
                {{else}}
                    <span class="{{setClass @index this}}" name="actday">{{this}}</span>
            {{/if}}
        {{/if}}    
        {{/each}}
    </div>
    {{/if}}
    {{>validateCal}}
</template>

<template name="validateCal">
    <button id="validateCal">valider</button>
</template>
