<!--the history template render the reservation 
    history of the users on hes profil page (historique)-->

<template name="history_page">
{{#if currentUser}}
    <h1>Historique de vos réservations</h1>
    {{> history_list}}
{{else}}
    {{> lost}}
{{/if}}
</template>

<template name="history_list">
    {{#if reservations}}
        <div class="row border align-items-center font-weight-bold py-3 bg-primary">
            <div class="col-md-3 col-sm-6 ">
                    Date de la réservation
            </div>
            <div class="col-md-2 order-sm-last">Statut</div>
            <div class="col-md-7 col-sm-6 order-md-last">
                Personne de contact
            </div>
            
        </div>
        {{#each reservation in reservations}}
            {{> history_list_item reservation=reservation}}
        {{/each}}
    {{else}}
        <p>Votre historique est vide.</p>
    {{/if}}
</template>

<template name="history_list_item">
    <div class="row border align-items-center bg-white py-1">
        <div class="col-md-3 col-sm-6">
            {{dateReservation}}
        </div>

        <div class="col-md-2 order-sm-last">
            {{reservationStatus}}
        </div>

        <div class="col-md-7 col-sm-6 order-md-last">
            {{#if currentUser.sw}}
                {{hostName}}
            {{else}}
                {{swName}}
            {{/if}}
        </div>
    </div>
    
</template>