<template name="host_profil_template">
    {{#if currentUser}}
    <h1>Vos informations : résumé </h1>
        <p>
            Adresse mail de l'accueillant : {{mail}}<br>
            Prénom de l'accueillant : {{firstname}}<br>
            Nom de l'accueillant : {{lastname}}<br>
            Adresse de l'accueillant : {{userAddress}}<br>
            Téléphone de l'accueillant : {{phone}}
        </p>
        <a href="ajouter-logement" class="btn btn-default">Ajouter un logement</a>

        <form class="profilForm">
        <div class="col-md-7 col-sm-6 col-xs-12">
            <h3> Modifier votre profil</h3>
            <label for="mail">Email:</label><br>
            <input type="text" name="mail" value="{{mail}}" required><br>
            <label>Prénom:</label><br>
            <input type="text" name="firstname" value="{{firstname}}" required><br>
            <label>Nom:</label><br>
            <input type="text" name="lastname" value="{{lastname}}" required><br>
        </div>

        <div class="col-md-5 col-sm-6 col-xs-12">
        <h3>Modifier votre adresse</h3>
            <label>Adresse:</label><br>
            <input type="text" name="address" value="{{address}}" required><br>

            <label>N° de rue:</label><br>
            <input type="text" name="number" value="{{number}}" required><br>

            <label>Numéro postal:</label><br>
            <input type="text" name="postcode" value="{{postCode}}" required><br>

            <label>Ville:</label><br>
            <input type="text" name="city" value="{{city}}" required><br>

            <label>Numéro de téléphone:</label><br>
            <input type="text" name="phone" value="{{phone}}" required><br>

        </div>
        <br>
        <br>
        <button class="submit btn btn-primary" value="submit" type="submit" >Mettre à jour votre Profil</button>

        <br>
        <br>
        <br>
            <button id="delete-button" type="button" class="btn btn-danger">Supprimer compte</button>
        </form>

    {{/if}}

    
</template>