<template name="host_profil_template">
    {{#if currentUser}}
    <!-- Host profil template - summary and modification form of the currents user information given on sign-up and additionnal information such as the address needed to 
    host. -->
    <div class='container'>
        <div class='row'>
            <div class='col-sm-6 col-md-5'>
                <form class="profilPic">
                        <label type="text"><h4>Photo de profil</h4></label>
                        <br>
                        <img id="profilePic" src="cover.jpg" alt="" class="profile-pic centered-and-cropped" width="200" height="200">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="profilePic-input" accept='image/*'>
                            <label class="custom-file-label" for="profilePic-input">Choisissez un fichier</label>
                            <button class="btn" id="submit-profile-pic" type="submit">Confirmer</button>
                        </div>
                        <!-- <input class="btn" type="file" id="profilePic-input" accept="image/*">
                         -->
                 </form>
            </div>
            <div class='col-sm-3'>
                <h1>Vos informations personnelles</h1>
                <dl>
                    <dt>Prénom Nom</dt>
                    <dd>{{firstname}} {{lastname}}</dd>
                    <dt>Adresse e-mail</dt>
                    <dd>{{mail}}</dd>
                    <dt>Adresse</dt>
                    <dd>{{#if userAddress}}{{userAddress}}{{else}}Aucune adresse enregistrée{{/if}}</dd>
                    <dt>Téléphone de l'accueillant</dt>
                    <dd>{{phone}}</dd>
                    <dt>Vous proposez : </dt>
                    <dd>x places</dd>
                </dl>
                <a href="ajouter-logement" class="btn btn-success">Ajouter un logement</a>
                <br>

            </div>
        </div>
    </div>

        <br>
        <br>
        <form class="profilForm">
        <div class="row">
        <div class="col-md-7 col-sm-6 col-xs-12">
            <h3> Modifier votre profil</h3>
            <label for="mail">Email:</label><br>
            <input type="text" name="mail" value="{{mail}}" required><br>
            <label>Prénom:</label><br>
            <input type="text" name="firstname" value="{{firstname}}" required><br>
            <label>Nom:</label><br>
            <input type="text" name="lastname" value="{{lastname}}" required><br>
        </div>
        <div class="col-md-5 col-sm-6 col-xs-12">
        <h3>Modifier votre adresse</h3>
            <label>Adresse:</label><br>
            <input type="text" name="address" value="{{address}}" required><br>

            <label>N° de rue:</label><br>
            <input type="text" name="number" value="{{number}}" required><br>

            <label>Numéro postal:</label><br>
            <input type="text" name="postcode" value="{{postCode}}" required><br>

            <label>Ville:</label><br>
            <input type="text" name="city" value="{{city}}" required><br>

            <label>Numéro de téléphone:</label><br>
            <input type="text" name="phone" value="{{phone}}" required><br>

        </div>
    </div>
        <br>
        <button class="submit btn btn-primary" value="submit" type="submit" >Mettre à jour votre Profil</button>
        <br>
        <br>
        <br>
        </form>
   
    <form id="modify-password-form">
        <div class="form-group">
                <label>Ancien mot de pass</label><br>
                <input type="password" class="form-control" id="oldPassword" placeholder="votre ancien mot de passe">
        </div>
        <div class="form-group">
                <label>Nouveau mot de passe</label><br>
                <input type="password" class="form-control" id="newPassword" placeholder="votre nouveau mot de passe">
        </div>
        <div class="form-group">
                <label>Répeter le mot de passe</label><br>
                <input type="password" class="form-control" id="newPasswordRepeat" placeholder="votre nouveau mot de passe">
        </div>
        <button type="submit" class="btn btn-primary">Modifier votre mot de passe</button>
    </form> 
    <br>
    <br>
    <br>
    <form id="delete-account-form">
            <button id="delete-button" type="button" class="btn btn-danger">Supprimer compte</button>
    </form>
    {{/if}}

</template>