<template name="super_navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{pathFor '/'}}">R.E.S.T.</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {{#if currentUser}}
            <ul class="navbar-nav mr-auto">
                {{#if currentUser.sw}}
                    <li class="nav-item">
                    <a class="nav-link" href="{{pathFor '/logements'}}">Disponibilité</a>
                    </li>
                {{else}}
                    <li class="nav-item">
                    <a class="nav-link" href="{{pathFor '/ajouter-logement'}}">Proposer un lit</a>
                    </li>
                {{/if}}
                <li class="nav-item">
                        <a class="nav-link" href="{{pathFor '/profil_utilisateur'}}">Mon profil</a>
                </li>
            </ul>
            <div>
                {{> loginButtons}}
            </div>
            {{else}}
            <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Inscription
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{{pathFor 'inscription'}}">Accueillant</a>
                <a class="dropdown-item" href="{{pathFor 'inscription_ts'}}">Travailleur social</a>
              </div>
            </li>
            </ul>
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Se connecter
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {{> login}}
                </div>
            </div>
        {{/if}}
        </div>
    </nav>
</template>

<!-- <template name="loginbar">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li>
                    <a class="navbar-brand" href="{{pathFor '/'}}">Page d'accueil</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                        <span class="glyphicon glyphicon-user"></span> Inscription
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{pathFor 'inscription'}}"> Accueillant</a>
                        </li>
                        <li>
                            <a href="{{pathFor 'inscription_ts'}}">Travailleurs sociaux</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                        <span class="glyphicon glyphicon-log-in"></span> Se connecter</a>
                    <ul class="dropdown-menu">
                        <li>{{>login}}</li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</template>

<template name="navbarHost">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li>
                    <a class="navbar-brand" href="{{pathFor '/'}}">Page d'accueil</a>
                </li>
                <li>
                    <a href="{{pathFor '/ajouter-logement'}}">Proposer un lit</a>
                </li>
                <li>
                    <a href="{{pathFor '/logements'}}">Disponibilité</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{{pathFor '/profil_utilisateur'}}">Mon profil</a>
                </li>
                <li>
                    <button id="delete-button" type="button" class="btn btn-danger">Supprimer compte</button>
                </li>
                <li>{{>loginButtons}}</li>
            </ul>
        </div>
    </nav>
</template>

<template name="navbarSocialWorker">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li>
                    <a class="navbar-brand" href="{{pathFor '/'}}">Page d'accueil</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{{pathFor '/logements'}}">Disponibilité</a>
                </li>
                <li>{{>loginButtons}}</li>
            </ul>
        </div>
    </nav>
</template> -->