<template name="login">
<form class="px-4 py-3">
    <div class="form-group">
            <input type="email" class="form-control" id="login-email" placeholder="E-mail">
    </div>
    <div class="form-group">
            <input type="password" class="form-control" id="login-password" placeholder="Mot de passe">
    </div>
    <button type="submit" class="btn btn-primary" id="login-button">Se connecter</button>
</form>
        <!-- <h2>Se connecter</h2>
        <div>
                <input type="email" placeholder="Adresse Email" id="login-email" /><br>

                <input type="password" placeholder="Mot de passe" id="login-password" /><br>

                <button id="login-button" type="submit">Se connecter</button>
        </div> -->
</template>
            


