<template name="placesList">
    <h1>Liste de logements disponibles</h1>
        <ul>
        {{#if Template.subscriptionsReady}}   
        {{#each places}}
            <div>
                <li class='adresse'>
                    {{ address }} {{locNumber}}, {{location}} {{zipCode}}
                    <br>
                    {{firstname}} {{lastname}} {{mail}} 
                    <a href=”tel:{{phone}}″>{{phone}}</a>
                </li>
            </div>
        {{/each}}
        {{/if}}
        </ul>
</template>