<!-- <template name="placesList">
    <h1>Liste de logements disponibles</h1>
        <ul>
        {{#if Template.subscriptionsReady}}   
        {{#each places}}
            <div>
                <li class='adresse'>
                    {{ address }} {{locNumber}}, {{location}} {{zipCode}}
                    <br>
                    {{firstname}} {{lastname}} {{mail}} 
                    <a href=”tel:{{phone}}″>{{phone}}</a>
                    {{> history}}
                </li>
            </div>
        {{/each}}
        {{/if}}
        </ul>
</template> -->

<template name="placesList">
    <h1>Liste de logements disponibles</h1>
        {{#if Template.subscriptionsReady}}
        <table class="table">
            <thead>
                <tr>
                    <th class="address">Adresse</th>
                    <th class="host">Accueillant</th>
                    <th class="phone">Téléphone</th>
                    <th class="empty"><!--laisser vide pour le moment --></th>
                    <!-- <th class='date'>Date</th> -->
                </tr>
            </thead>
            <tbody> 
        {{#each places}}
                <tr>
                    <td class="address">{{zipCode}} {{ location }}, {{ address }} {{locNumber}}</td>
                    <td class="hostEvent"><a>{{ lastname }} {{ firstname }}</a></td>
                    <td class="phone"><a href=”tel:{{phone}}″>{{phone}}</a></td>
                    <!-- <td class='date'>{{availability}}</td> -->
                    <td class="historyBtn">{{> history}}</td>
                </tr>
        {{/each}}
            </tbody>
        </table>
        <div id='card'></div>
        {{/if}}
   
</template>