<template name="register">

                <div>
                  <h1>Inscription</h1>
                  <label>Votre Adresse Email</label>
                    <div>
                        <input type="email" placeholder="Adresse E-mail" id="email" />
                    </div>
                    <label>Votre prénom</label>
                    <div>
                        <input type="text" placeholder="Prénoms" id="first-name" />
                    </div>
                    <label>Votre noms</label>
                    <div>
                        <input type="text" placeholder="Noms" id="last-name" />
                    </div>
                    <label>Votre mots de passe</label>
                    <div>
                        <input type="password" placeholder="Mots de passe" id="password" />
                    </div>
                    <label>Confirmer votre mots de passe</label>
                    <div>
                        <input type="password" placeholder="Confirmer votre mots de passe" id="password-again" />
                    </div>
                </div>              
<button id="register-button" type="submit" >S'inscrire</button>

</template>