<template name="register">

    <div>
        <h1>Inscription</h1>

        <label>Votre adresse Email</label><br>
        <input type="email" placeholder="Adresse Email" id="email" /><br>

        <label>Votre prénom</label><br>
        <input type="text" placeholder="Prénom" id="first-name" /><br>

        <label>Votre nom</label><br>
        <input type="text" placeholder="Nom" id="last-name" /><br>

        <label>Votre mot de passe</label><br>
        <input type="password" placeholder="Mot de passe" id="password" /><br>

        <label>Confirmer votre mot de passe</label><br>
        <input type="password" placeholder="Confirmer votre mot de passe" id="password-again" />
    </div>  
                
    <button id="register-button" type="submit" >S'inscrire</button>

</template>