<template name="register_social_worker">
    <div>
        <h1>Inscription</h1>

        <label>Votre adresse Email</label><br>
        <input type="email" placeholder="Adresse Email" id="email" /><br>

        <label>Votre prénom</label><br>
        <input type="text" placeholder="Prénom" id="firstname" /><br>

        <label>Votre nom</label><br>
        <input type="text" placeholder="Nom" id="lastname" /><br>

        <label>Votre institution</label><br>
        <input type="text" placeholder="Votre organisation" id="institute" /><br>

        <label>Votre numéro de téléphone professionnel</label><br>
        <input type="text" placeholder="Numéro" id="phone_number" /><br>

        <label>Votre mot de passe</label><br>
        <input type="password" placeholder="Mot de passe" id="password" /><br>

        <label>Confirmer votre mot de passe</label><br>
        <input type="password" placeholder="Confirmer votre mot de passe" id="password-again" />

    </div>
        
    <button id="register-buttonsocialworker" type="submit">S'inscrire</button>

</template>