<!-- Same form structure to register as host or social worker. Using plugin zimme:active-route to display the specific fields and informations -->

<template name="super_register_form">
    <div class="row justify-content-center">
    <div class="col-md-6 col-sm-8">
    <h1>Inscription {{#if isActiveRoute 'register_social_worker'}}Travailleur social{{ else }}Accueillant{{/if}}</h1>
    <form class="registerForm">

    <div class="form-group">
        <label>Prénom</label>
        <input type="text" class="form-control" id="firstname" placeholder="Prénom" required />
    </div>

    <div class="form-group">
        <label>Nom</label>
        <input type="text" class="form-control" id="lastname" placeholder="Nom" required/>
    </div>

    <div class="form-group">
        <label>Adresse e-mail{{#if isActiveRoute 'register_social_worker'}} professionnel{{/if}}</label>
        <input type="email" class="form-control" id="email" placeholder="Adresse e-mail" required/>
    </div>

    <div class="form-group">
        <label>Numéro de téléphone</label>
        <input type="text" class="form-control" id="phoneNumber" placeholder="Numéro de téléphone" required/>
        {{#if isActiveRoute 'register'}}<p class="form-text">Pour un contact personnalisé</p>{{/if}}
    </div>

    {{#if isActiveRoute 'register_social_worker'}}
    <div class="form-group">
        <label>Institution</label>
        <input type="text" class="form-control" id="institute" placeholder="Institution" required/>
        <p class="form-text">Nom de l'association, de l'organisation, etc.</p>
    </div>
    {{/if}}

    <div class="form-group">
        <label>Mot de passe</label>
        <input type="password" class="form-control" id="password" placeholder="Mot de passe" required/>
        <p class="form-text">Doit contenir au moins 6 caractères</p>
    </div>

    <div class="form-group">
        <label>Répéter le mot de passe</label>
        <input type="password" class="form-control" id="passwordAgain" placeholder="Répéter votre mot de passe" required/>
    </div>
        
    <button type="submit" class="btn btn-secondary" id="register-button" >S'inscrire</button>
    </form>
</div>
</div>
</template>