<!-- <template name="register_social_worker">
<form class="registerForm">
    <h1>Inscription Travailleur Social</h1>

    <label>Adresse Email</label><br>
    <input type="email" placeholder="Adresse Email" id="email" /><br>

    <label>Prénom</label><br>
    <input type="text" placeholder="Prénom" id="firstname" required/><br>

    <label>Nom</label><br>
    <input type="text" placeholder="Nom" id="lastname" required/><br>

    <label>Institution</label><br>
    <input type="text" placeholder="Votre organisation" id="institute" required/><br>

    <label>Numéro de téléphone professionnel</label><br>
    <input type="text" placeholder="Numéro" id="phoneNumber" required /><br>

    <label>Mot de passe</label><br>
    <input type="password" placeholder="Mot de passe" id="password" required /><br>

    <label>Confirmer votre mot de passe</label><br>
    <input type="password" placeholder="Confirmer votre mot de passe" id="passwordAgain" required /><br>
        
    <button id="register-button" type="submit">S'inscrire</button>
</form>
</template>

<template name="register">
<form class="registerForm">
    <h1>Inscription Accueillant</h1>
    <label>Adresse Email</label><br>
    <input type="email" placeholder="Adresse Email" id="email" required/><br>

    <label>Votre prénom</label><br>
    <input type="text" placeholder="Prénom" id="firstname" required/><br>

    <label>Votre nom</label><br>
    <input type="text" placeholder="Nom" id="lastname" required /><br>

    <label>Votre mot de passe</label><br>
    <input type="password" placeholder="Mot de passe" id="password" required /><br>

    <label>Confirmer votre mot de passe</label><br>
    <input type="password" placeholder="Confirmer votre mot de passe" id="passwordAgain" required /><br>
                
    <button id="register-button" type="submit" >S'inscrire</button>
</form>
</template> -->

<template name="super_register_form">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <h1>Inscription {{#if isActiveRoute 'register_social_worker'}}Travailleur social{{ else }}Accueillant{{/if}}</h1>
    <form class="registerForm">

    <div class="form-group">
        <label>Prénom</label>
        <input type="text" class="form-control" id="firstname" placeholder="Prénom" required />
    </div>

    <div class="form-group">
        <label>Nom</label>
        <input type="text" class="form-control" id="lastname" placeholder="Nom" required/>
    </div>

    <div class="form-group">
        <label>Adresse e-mail{{#if isActiveRoute 'register_social_worker'}} professionnel{{/if}}</label>
        <input type="email" class="form-control" id="email" placeholder="Adresse e-mail" required/>
    </div>

    <div class="form-group">
        <label>Numéro de téléphone</label>
        <input type="text" class="form-control" id="phoneNumber" placeholder="Numéro de téléphone" required/>
        {{#if isActiveRoute 'register'}}<p class="help-block">Pour un contact personnalisé</p>{{/if}}
    </div>

    {{#if isActiveRoute 'register_social_worker'}}
    <div class="form-group">
        <label>Institution</label>
        <input type="text" class="form-control" id="institute" placeholder="Institution" required/>
        <p class="help-block">Nom de l'association, de l'organisation, etc.</p>
    </div>
    {{/if}}

    <div class="form-group">
        <label>Mot de passe</label>
        <input type="password" class="form-control" id="password" placeholder="Mot de passe" required/>
        <p class="help-block">Doit contenir au moins 6 caractères</p>
    </div>

    <div class="form-group">
        <label>Répéter le mot de passe</label>
        <input type="password" class="form-control" id="passwordAgain" placeholder="Répéter votre mot de passe" required/>
    </div>
        
    <button type="submit" class="btn btn-default" id="register-button" >S'inscrire</button>
    </form>
</div>
</template>