<template name="register_social_worker">
        <div>
          <h1>Inscription</h1>
          <label>Votre Adresse Email</label>
            <div>
                <input type="email" placeholder="Adresse Email" id="email" />
            </div>
            <label>Votre prénom</label>
            <div>
                <input type="text" placeholder="Prénom" id="firstname" />
            </div>
            <label>Votre nom</label>
            <div>
                <input type="text" placeholder="Nom" id="lastname" />
            </div>
            <label>Votre institution</label>
            <div>
                <input type="text" placeholder="Votre organisation" id="institute" />
            </div>
            <label>Votre numéro de téléphone professionel</label>
            <div>
                <input type="text" placeholder="numéro" id="phone" />
            </div>
            <label>Votre mots de passe</label>
            <div>
                <input type="password" placeholder="mots de passe" id="password" />
            </div>
            <label>Confirmer votre mots de passe</label>
            <div>
                <input type="password" placeholder="Confirmer votre mots de passe" id="password-again" />
            </div>
        </div>
      
<button id="register-buttonsocialworker" type="submit">S'inscrire</button>
<ul>
<li><a href="{{pathFor 'login'}}">Se connecter</a></li>
<li><a href="{{pathFor 'inscription'}}">Inscription ordinaire</a></li>
<li><a href="{{pathFor '/'}}">Page d'acceuil</a></li>
</ul>

</template>