<template name="register_social_worker">
    <h1>Inscription TS</h1>

    <label>Votre adresse Email</label><br>
    <input type="email" placeholder="Adresse Email" id="email" /><br>

    <label>Votre prénom</label><br>
    <input type="text" placeholder="Prénom" id="firstname" /><br>

    <label>Votre nom</label><br>
    <input type="text" placeholder="Nom" id="lastname" /><br>

    <label>Votre institution</label><br>
    <input type="text" placeholder="Votre organisation" id="institute" /><br>

    <label>Votre numéro de téléphone professionnel</label><br>
    <input type="text" placeholder="Numéro" id="phoneNumber" /><br>

    <label>Votre mot de passe</label><br>
    <input type="password" placeholder="Mot de passe" id="password" /><br>

    <label>Confirmer votre mot de passe</label><br>
    <input type="password" placeholder="Confirmer votre mot de passe" id="passwordAgain" />
        
    <button id="register-button" type="submit">S'inscrire</button>
</template>

<template name="register">
    <h1>Inscription Acc</h1>

    <label>Votre adresse Email</label><br>
    <input type="email" placeholder="Adresse Email" id="email" /><br>

    <label>Votre prénom</label><br>
    <input type="text" placeholder="Prénom" id="firstname" /><br>

    <label>Votre nom</label><br>
    <input type="text" placeholder="Nom" id="lastname" /><br>

    <label>Votre mot de passe</label><br>
    <input type="password" placeholder="Mot de passe" id="password" /><br>

    <label>Confirmer votre mot de passe</label><br>
    <input type="password" placeholder="Confirmer votre mot de passe" id="passwordAgain" />
                
    <button id="register-button" type="submit" >S'inscrire</button>

</template>

<template name="super_register_form">
    <h1>Inscription all</h1>

    <label>Nom</label><br>
    <input type="text" placeholder="Nom" id="lastname" /><br>

    <label>Prénom</label><br>
    <input type="text" placeholder="Prénom" id="firstname" /><br>

    <label>Adresse Email</label><br>
    <input type="email" placeholder="Adresse Email" id="email" /><br>

    <label>Institution</label><br>
    <input type="text" placeholder="Votre organisation" id="institute" /><br>

    <label>Numéro de téléphone professionnel</label><br>
    <input type="text" placeholder="Numéro" id="phoneNumber" /><br>

    <label>Mot de passe</label><br>
    <input type="password" placeholder="Mot de passe" id="password" /><br>

    <label>Confirmer votre mot de passe</label><br>
    <input type="password" placeholder="Confirmer votre mot de passe" id="passwordAgain" />
        
    <button id="register-button" type="submit">S'inscrire</button>
</template>