<template name="resa">
    {{#if isPending}}
        <button class="btn btn-outline-secondary btn-sm" disabled>
            {{#if isTheReserver}}
                En attente...
            {{else}}
                En réservation...
            {{/if}}
        </button>
    {{else}}
    <button id="reservate" class="btn btn-primary">Réserver</button>
    {{/if}}
</template>

<template name="resa_notif_host_box">
    {{#if notif}}
    <div class="alert alert-primary row align-items-center fade show">
        Vous avez une demande d'accueil.
        <div class="btn-group pl-5" role="group" aria-label="Décider">
            <button type="button" id="acceptButton" class="btn btn-success">Accepter</button>
            <button type="button" id="declineButton" class="btn btn-secondary">Refuser</button>
        </div>
            
    </div>
    {{/if}}
</template>

<template name="resa_notif_socialWorker_box">
        {{#each notif}}
        <div class="alert {{# if declinedAlertSw}}alert-danger{{else}}alert-success{{/if}} fade show">
            {{#if declinedAlertSw}}        
                {{accName}} a refusé la réservation.
            {{else}}
                {{accName}} a validé la réservation.
            {{/if}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" id="notifSwClose">
                <span aria-hidden="true">&times;</span>
            </button>       
        </div>
        {{/each}}
    </template>