<template name="resa">
    {{#if isPending}}
        {{#if isTheReserver}}
        <button class="btn btn-outline-secondary btn-sm" disabled>En attente...</button>
        {{else}}
        <button class="btn btn-outline-secondary btn-sm" disabled>En réservation...</button>
        {{/if}}
    {{else}}
    <button id="reservate" class="btn btn-primary">Réserver</button>
    {{/if}}
</template>

<template name="resaNotifBox">
    {{#if notif}}
    <div style="border: 1px solid black">
            <h1>vos demandes:</h1>
            <p>Vous avez une demande d'accueil. Accepter ?</p>
            <button id="acceptButton">accepter</button>
            <button id="declineButton">refuser</button>
    </div>
    {{else}}
        <p>Vous n'avez aucune demande d'accueil actuellement</p>
    {{/if}}
</template>