<!--the reservations template offers a way for interacting 
    with the places list displayed on the social
    worker profil page. The process is 1) ask for 
    a place to a user, 2) send a mail and a place 
    request to the user 3) accept the request 
    4) send a confirmation notification to the social worker -->

<template name="reservations">
    {{#if isPending}}
        <button class="btn btn-outline-secondary btn-sm" disabled>
            {{#if isTheReserver}}
                En attente...
            {{else}}
                En réservation...
            {{/if}}
        </button>
    {{else}}
    <button id="reservate" class="btn btn-dark">Réserver</button>
    {{/if}}
</template>

<template name="reservation_notif_host_box">
    {{#if notif}}
    <div class="alert alert-secondary row align-items-center fade show">
        Vous avez une demande d'accueil.
        <div class="btn-group pl-5" role="group" aria-label="Décider">
            <button type="button" id="acceptButton" class="btn btn-success">Accepter</button>
            <button type="button" id="declineButton" class="btn btn-light">Refuser</button>
        </div>
            
    </div>
    {{/if}}
</template>

<template name="reservation_notif_socialWorker_box">
        {{#each notif}}
        <div class="alert {{# if declinedAlertSw}}alert-danger{{else}}alert-success{{/if}} fade show">
            {{#if declinedAlertSw}}        
                {{hostName}} a refusé la réservation.
            {{else}}
                {{hostName}} a validé la réservation.
            {{/if}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" id="notifSwClose">
                <span aria-hidden="true">&times;</span>
            </button>       
        </div>
        {{/each}}
    </template>