<template name="social_worker_profil">
    {{#if currentUser}}
            <h2>Bonjour {{test}} {{lastname}}</h2>
            <h3>Institution : <b>{{institute}}</b> </h3>
            <p>Téléphone : <u>{{phone_number}}</u> </p>
            <p>Adresse e-mail : <u>{{mail}}</u></p>
        <br>
        <br>
        <br>
        <h2>Modification des données</h2>
    <form class="profilForm">
            <h3>Email:</h3>
                <input type='text' name='email' value='{{mail}}'>
            <h3>Numéro de téléhpone professionnel</h3>
                <input type='text' name='new_phone_number' value='{{phone_number}}'>
            <br>
        <button class='submit' value='submit' type='submit'>Modifier</button>
    </form>   
    {{/if}}
</template>